body {
    font-family: 'Work Sans';
    background-color: #191C20;
    color: white;
    margin: 0;
    height:100%;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 150px;
    background-color: #222;
    color: #fff;
    padding: 20px;
    position: fixed;
    z-index: 1;
    font-size: 25px;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
}

.sidebar ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 5px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a:hover {
    background-color: #555; /* Hover color for buttons */
}

.logo1 {
    width: 100px;
}

.logo2-link {
    position: absolute;
    bottom: 50px;
}

.logo2 {
    width: 150px;
}

.sidebar-divider {
    position: absolute;
    width: calc(100% - 30px);
    border-top: 1px solid #555;
}

main {
    flex-grow: 1;
    margin-left: 150px;
    padding-top: 140px;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.row {
    display: flex;
    height: 100%;

}

.video-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.location {
    margin-left: 170px;
    color: white;
    font-size: 17px;
}

.video-container {
    overflow: hidden;
    width: 100%;
    margin-left: 170px;
}

.video-js {
    border: 2px solid #5cfdc6;
    border-radius: 20px;
}

.vertical-divider {
    position: relative;
    width: 2px;
    height: 85%;
    background-color: #555;
    margin-left: -1px;
}

.current-time p,
.video-rate p,
.drpai-rate p {
    display: flex;
    margin-left: 170px;
    margin-bottom: 0px;
    color: #5cfdc6;
    height: 10px;
    font-size: 17px;
}

.time,
.videorate,
.drpairate {
    font-size: 17px;
    margin: 0;
    padding: 0;
    color: white;
    height: 20px;
}

.graph-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tracked-rate p {
    text-align: right;
    margin-right: 170px;
    color: #5cfdc6;
    font-size: 17px;
}

.trackedrate {
    font-size: 17px;
    margin: 0;
    padding: 0;
    color: white;
    height: 20px;
}

.graph {
    width: 640px;
    height: 480px;
    border: 2px solid #5cfdc6;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 170px;

}

.graph-title {
    display: flex;
    margin-left: 200px;
    color: #5cfdc6;
    font-size: 17px;
}