body {
    font-family: 'Work Sans';
    background-color: #191C20;
    color: white;
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
    overflow: auto;
}

.sidebar {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 9.5vw;
    background-color: #222;
    color: white;
    padding: 1vh;
    z-index: 2;
    font-size: 1vw;
    box-shadow: 0.7vw 0 1.3vw rgba(0, 0, 0, 0.5);
}

.logo1 {
    width: 3vw;
}

.sidebar p {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.horizontal-divider-top {
    width: 8vw;
    border-top: 0.1em solid #555;
}

.sidebar ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    padding: 1.2vh 1.5vh;
    background-color: transparent;
    border-radius: 0.8vw;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 1vh;
}

.sidebar ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0vh;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.horizontal-divider-bottom {
    width: 8vw;
    border-top: 0.1em solid #555;
    margin-top: 6vh;
    margin-bottom: 0.5vh;
}

.logo2 {
    width: 6vw;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
}

table {
    flex: 1;
    display: flex;
    padding: 5vh;
}

tbody {
    flex: 1;
    display: flex;
    flex-direction: column;
}

tr {
    flex: 1;
    display: flex;
}

td {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.historical-data-date p {
    display: flex;
    margin: 0;
    font-size: 1.2vw;
    color: gray;
}

.historical-data-time p {
    display: flex;
    margin: 0;
    font-size: 2vw;
    margin-bottom: 0.5vh;
}

.vehicle-count p {
    display: flex;
    font-size: 1vw;
    margin: 0.3vh;
    justify-content: center;
}

.video,
.csv-download {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1vw;
    margin-top: 1vh;
}

.video {
    overflow: hidden;
    border: 0.1vw solid #5cfdc6;
    border-radius: 1vw;
}

.video > video {
    width: 11vw;
    height: 8.25vw;
}

.csv-download a {
    flex-direction: column;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    padding: 1vh 1.5vh;
    background-color: #555;
    border-radius: 0.8vw;
    transition: background-color 0.3s, color 0.3s;
}

.horizontal-divider {
    flex: 0;
    margin: auto;
    width: 80vw;
    border-top: 0.5vh solid #555;
}